<section class="paddingMob10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 padding8LR">
                <h1 class="col-md-11 col-xs-12 padding0">Manage User Authorization</h1>
                <div class="inner-tabs ">
                    <ul class="list-inline">
                        <li class="active"><a [routerLink]="['/layout/manageuserauthentication']" routerLinkActive="active">Manage User Authorization</a></li>
                        <li>|</li>
                        <li><a [routerLink]="['/layout/addnewuser']" routerLinkActive="active">Add User</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>