<section class="paddingMob10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 padding8LR">
                <h1 class="col-md-11 col-xs-12 padding0">Metadata Management</h1>
                <div class="inner-tabs ">
                    <ul class="list-inline">

                        <li><a [routerLink]="['/layout/metadatamanagement']" routerLinkActive="active">Master Data</a></li>
                        <li>|</li>
                        <li class="active"><a [routerLink]="['/layout/metadatamapping']" routerLinkActive="active">Mapping</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content" class="paddingMob10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 padding8LR">
                <div class="row">
                    <div class="col-md-12 col-xs-12 padding0">
                        <div class="white-boxes ">
                            <!--<div class="table-responsive size12">
                                <table class="table table-hover comp-table">
                                    <thead>d
                                        <tr>
                                            <th>Agribusiness Overview</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Agribusiness Overview - Segment</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>-->

                            <div class="table-responsive size12">
                                <table class="table table-hover comp-table">
                                    <thead>
                                        <tr>
                                            <th>Competitor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a [routerLink]="['competitorsegment']" routerLinkActive="active">Competitor - Segment</a></td>
                                        </tr>
                                        <tr>
                                            <td><a [routerLink]="['competitorregion']" routerLinkActive="active">Competitor - Region </a></td>
                                        </tr>
                                        <tr>
                                            <td> <a [routerLink]="['competitorProductLine']" routerLinkActive="active">Competitor - Product Line</a></td>
                                        </tr>
                                        <tr>
                                            <td> <a [routerLink]="['moduledocumenttype']" routerLinkActive="active">Module - Document Type</a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <!--<div class="table-responsive size12">
                                <table class="table table-hover comp-table">
                                    <thead>
                                        <tr>
                                            <th>Crop Indicator</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Crop Indicator - Crops</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>-->

                            <!--<div class="table-responsive size12">
                                <table class="table table-hover comp-table">
                                    <thead>
                                        <tr>
                                            <th>Macroeconomics</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Macroeconomics - Basket of Currencies</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>-->


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>