<section class="paddingMob10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 padding8LR">
                <h1 class="col-md-11 col-xs-12 padding0">Metadata Management</h1>
                <div class="inner-tabs ">
                    <ul class="list-inline">
                        <li class="active"><a [routerLink]="['/layout/metadatamanagement']" routerLinkActive="active">Master Data</a></li>
                        <li>|</li>
                        <li><a [routerLink]="['/layout/metadatamapping']" routerLinkActive="active">Mapping</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content" class="paddingMob10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 padding8LR">
                <div class="row">
                    <div class="col-md-12 col-xs-12 padding0">
                        <div class="white-boxes">
                            <div class="table-responsive marginT10">
                                <table class="table table-hover comp-table">
                                    <thead>
                                        <tr>
                                            <th>Modules</th>
                                        </tr>
                                    </thead>
                                    <tbody class="size13">
                                        <tr>
                                            <td><a [routerLink]="['currencies']" routerLinkActive="active">Basket of Currencies</a></td>
                                        </tr>
                                        <tr>
                                            <td><a [routerLink]="['competitor']" routerLinkActive="active">Competitor</a></td>
                                        </tr>
                                        <tr>
                                            <td><a [routerLink]="['crop']" routerLinkActive="active"> Crops</a></td>
                                        </tr>
                                        <tr>
                                            <td><a [routerLink]="['documenttype']" routerLinkActive="active">Document Type </a></td>
                                        </tr>
                                        <tr>
                                            <td><a [routerLink]="['productLines']" routerLinkActive="active">Product Line </a></td>
                                        </tr>
                                        <tr>
                                            <td><a [routerLink]="['newstype']" routerLinkActive="active">News Type </a></td>
                                        </tr>
                                        <tr>
                                            <td><a [routerLink]="['region']" routerLinkActive="active">Region</a></td>
                                        </tr>
                                        <tr>
                                            <td><a [routerLink]="['segment']" routerLinkActive="active">Segment</a></td>
                                        </tr>
                                        <tr>
                                            <td><a [routerLink]="['restrictedgroup']" routerLinkActive="active">Restricted Group</a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>