                
<div class="inner-tabs ">
    <ul class="list-inline">
        <li routerLinkActive="active"><a [routerLink]="['/layout/majoragroandseeds/massnapshot']">Snapshot</a></li>
        <li>|</li>
        <li routerLinkActive="active"><a [routerLink]="['/layout/majoragroandseeds/masfinancials']">Financials</a></li>
        <li>|</li>
        <li routerLinkActive="active"><a [routerLink]="['/layout/majoragroandseeds/masfinancialsratio']">Financial Ratios</a></li>
        <li>|</li>
        <li routerLinkActive="active"><a [routerLink]="['/layout/majoragroandseeds/masnews']">News</a></li>
        <li>|</li>
        <li routerLinkActive="active"><a [routerLink]="['/layout/majoragroandseeds/competitorreport']">Latest Company Reports</a></li>
    </ul>
</div>
            