<my-loader [loading]="loading"></my-loader>
<section class="paddingMob10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 padding8LR">
                <h1 class="col-md-11 col-xs-10 padding0">{{companyName}}</h1>
                <my-competitormenu></my-competitormenu>
            </div>
        </div>
    </div>
</section>

<section class="paddingMob10">
    <div class="row">
        <my-search-template [isKMSearchComponent]="false" [KMRequest]="KMRequest" [showCustomPaging]="true" [searchItems]="searchItems1" [searchResultFor]="''" [pageSize]="pageSize">
        </my-search-template>
    </div>
</section>


