
<section class="paddingMob10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 padding8LR">
                <!--<div class="row">-->
                <!--<h1 class="col-md-12 paddingB0 marginB0 marginT20 marginL25">Update Glossary<span class="lgrey size11 pull-right paddingT15 marginR25">All * marked fields are mandatory </span></h1>-->
                <h1 class="col-md-12 col-xs-12 padding0">Update Glossary</h1>

                <my-glossary [isAdd]="true"></my-glossary>

                <!--</div>-->
            </div>
        </div>
    </div>
</section>
