<div>
    <my-loader [loading]="loading"></my-loader>
</div>
<marquee style="color:red;">
    AgriInsider will be unavailable on 25th March, 2018 from 10AM – 11AM CET due to maintenance activities
</marquee>
<div class="min200">
    <div *ngIf="data">
        <section *ngIf="clicked" id="banner" class="animated fadeInDown HomeTop img-responsive">
            <div class="container-fluid">
                <div class="col-md-6">
                    <!--<img src="images/the_good_growth.png" class="marginT20 img-responsive">
                    <p class="banner-text"><img src="images/home_text.png" class="marginT40 img-responsive"></p>-->
                </div>
                <event-calendar [UpcomingTitle]="'Upcoming Events'" [eventLimit]="true" [aspectRatio]="1.35" [contentHeight]="250"></event-calendar>
            </div>
        </section>
        <div class="container-fluid hidden-xs hidden-sm">
            <a *ngIf="clicked" href="javascript:void(0)" class="animated fadeInDown  bounceInUp hidden-xs hidden-sm imgArrow HomeClick" (click)="clicked = !clicked"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a *ngIf="!clicked" href="javascript:void(0)" class="animated fadeInDown  bounceInUp hidden-xs hidden-sm imgArrowDown HomeClick" (click)="clicked = !clicked"><i style="" class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
        <section id="graphs" class="paddingMob10">
            <div class="container">
                <div class="row">
                    <div *ngIf="data != null && data.length > 0">
                        <div *ngFor="let action of data[0].actions">
                            <div *ngIf="(action.actionName|lowercase) ==='export'" class="posIcon myPageMar">
                                <my-action id="export" [actionObject]="action">
                                </my-action>
                                <div class="toggleExport" style="display: none;">
                                    <div class="filterBox filterBoxBig animated fadeInDown text-left">
                                        <my-export [exportsList]="data[0].exports" (selectedValueEmit)='onExportEmit($event)' (exportVisible)="onExportVisibleEmit($event)"> </my-export>
                                        <button id="exportSubmit" class="btn marginB10" (click)="ExportSubmit()" [disabled]="exportVisible">Export</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h1 class="padding0" *ngIf="widgetCount>0"><i class="fa fa-heart blue"></i> My Favourites</h1>

                    <!--<div class="col-md-3 col-sm-3 col-xs-12 text-right paddingT20 paddingMob0">-->
                    <!--</div>-->
                    <div>
                        <div *ngIf="widgetCount<= 0">
                            <h1 class="padding0"><i class="fa fa-heart blue"></i> Add Favourites</h1>
                            <div class="homeWelcomeBox">
                                <h2>Welcome to AgriInsider !</h2>
                                <p>Your gateway to information when you need it, the way you need it. AgriInsider is your one-stop platform for industry information and insights.</p>
                                <p>You can customize this page with your favorite charts. Just click on the <span class="bgreen">'♥'</span> icon on the top of the charts you find across the portal… to get going!</p>
                                <!--<p>To know more, view the <a class="linksHand" (click)="getGuide()">Quick start guide</a>.</p>-->
                            </div>

                        </div>
                        <div *ngFor="let mainObj of data; let j = index">
                            <div class="col-md-6 col-sm-6 col-xs-12 paddingL3R3" *ngFor="let obj of mainObj.widgets; let i = index">
                                <div id="graphBoxes" class="graph-boxes width99">
                                    <h2>{{obj.widgetName}}</h2>
                                    <!-- <div class="col-md-3 col-sm-3 col-xs-3 pull-right padding0">-->

                                    <div *ngFor="let action of obj?.widgetActionViewModelList">
                                        <div *ngIf="(action.actionName|lowercase) ==='filter'" class="posIcon">
                                            <my-action id="filter" class="widgetfilter" [actionObject]="action">
                                            </my-action>
                                            <div class="toggleWidgetFilter" style="display: none;">
                                                <div class="filterBox filterBoxBig animated fadeInDown text-left">
                                                    <my-filter id="widgetFilter{{i}}" widgetId="{{i}}+{{j}}" [filtersList]="obj.widgetFilters" [filtersRelationList]="mainObj.filtersRelation" (selectedValueEmit)='onFilterEmit($event,obj.widgetId,obj.cropId,obj.competitorId)' (submitVisible)="onSubmitEmit($event,j)" (submitMessage)="onSubmitMessageEmit($event,j)"> </my-filter>
                                                    <div class="red col-md-3 padding0">{{submitMessage[j]}}</div>
                                                    <button id="filterSubmit" class="btn marginB10" (click)="FilterSubmit(pagePopover, obj.pageName, obj.cropId, obj.competitorId, obj.widgetId, i)" [disabled]="submitVisible[j]">Submit</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="(action.actionName|lowercase) ==='content sharing'" class="posIcon">
                                            <my-action id="content{{i}}" class="sharecontent" [actionObject]="action">
                                            </my-action>
                                            <div class="toggleContentShare" style="display: none;">
                                                <div class="filterBox filterBoxBig animated fadeInDown text-left">
                                                    <!--<my-email  [ChartID]="obj.widgetId" [ChartName]="obj.widgetName" DataType="Chart"></my-email>-->
                                                    <my-email [ChartObject]="obj" [CompetitorName]="obj.pageNameToShow" DataType="Chart"></my-email>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="(action.actionName|lowercase) =='favourite'" class="posIcon">
                                            <my-action [actionObject]="action" [favouriteObject]="obj" [PageName]="pageName" (FavoriteSaved)="OnFavoriteSaved($event)">

                                            </my-action>
                                            <!--<my-favourites [ChartID]="obj.widgetId" [ChartName]="obj.widgetName" DataType="Chart" [PageName]="Page.ciFinancialsRatio.toString()" (click)="onFavouriteClick()"></my-favourites>-->
                                        </div>

                                        <div *ngIf="(action.actionName|lowercase) !=='filter' && (action.actionName|lowercase) !=='content sharing' && (action.actionName|lowercase) !=='favourite'">
                                            <my-action [actionObject]="action">
                                            </my-action>
                                        </div>
                                    </div>
                                    <!--</div>-->
                                    <div id="exTab2">
                                        <ul class="nav nav-tabs">
                                            <li id="{{i}}{{j}}cActive" class="active"> <a href="#{{i}}{{j}}c" data-toggle="tab">Chart</a> </li>
                                            <li id="{{i}}{{j}}uActive"><a href="#{{i}}{{j}}u" data-toggle="tab">Underlying Data</a> </li>
                                        </ul>
                                        <div class="tab-content marginT20">
                                            <div class="tab-pane active animated fadeInUp" id="{{i}}{{j}}c" *ngIf="obj.chartComponentViewModel">
                                                <my-chart [chartId]="obj.widgetId" [charts]="obj.chartComponentViewModel"></my-chart>
                                            </div>
                                            <div class="tab-pane active animated fadeInUp" id="{{i}}{{j}}c" *ngIf="!obj.chartComponentViewModel">
                                                <div style="height:350px;text-align: -webkit-center;line-height: 252px;">No data to display</div>
                                            </div>
                                            <div class="tab-pane animated fadeInUp" id="{{i}}{{j}}u">

                                                <underlying-table [tableHeader]="obj?.underlyingChartDataViewModel?.tableHeaders"
                                                                  [tableData]="obj?.underlyingChartDataViewModel?.tableRows"
                                                                  [paginator]="paginator"
                                                                  [pageLinks]="pageLinks"
                                                                  [rowsPerPage]="rowsPerPage"
                                                                  [rowsPerPageOptions]="rowsPerPageOptions"
                                                                  [responsive]="responsive">
                                                </underlying-table>
                                            </div>
                                        </div>
                                        <span class="pull-left lgrey size12">Last updated: {{obj.lastUpdated}}</span> <span class="pull-right lgrey size12 sourcemob">Source: {{obj.sourceName}}</span>
                                        <!--<div class="col-md-12 col-xs-12 padding0 marginT20 borderTop">
                                            <p class="size16 bold dgrey paddingT15 col-md-11 col-xs-10 paddingL0"> Insight</p>
                                            <div class="col-md-1 col-xs-2 paddingT15">
                                                <a href="javascript:void(0)" title="Add/Edit insight" class="editviewBtn" *ngIf="isAdmin" (click)="editChartInsight($event, obj.realWidgetIdForMyPage, obj.insightData,i,j)">
                                                    <span class="fa fa-pencil-square-o fa-2x lblue"></span>
                                                </a>
                                            </div>
                                            <div class="col-md-12 col-xs-12 padding0">
                                                <div class="viewText col-md-11 padding0 size12 animated fadeInUp">-->
                                        <!--<my-rich-text [insightData]="obj.insightData" [widgetId]="obj.widgetId"></my-rich-text>-->
                                        <!--<div *ngIf="!obj.insightData || obj.insightData == null || obj.insightData == ''">
                                            <div id="richTextInsight{{i}}{{j}}" class="glyphicon size11 marginR5 insightScrollDisplay width100 fontArial" [innerHtml]="noInsightText"></div>
                                        </div>
                                        <div *ngIf="obj.insightData && obj.insightData != null && obj.insightData != ''">
                                            <div id="richTextInsight{{i}}{{j}}" class="glyphicon size11 marginR5 insightScrollDisplay width100 fontArial" [innerHtml]="obj.insightData | SafeHtmls"></div>
                                        </div>-->
                                        <!--<p> <span class="glyphicon glyphicon-menu-right lgrey size11 marginR5"></span>This is a placeholder for Syngenta admin to add their analysis.</p>
                                        <p> <span class="glyphicon glyphicon-menu-right lgrey size11 marginR5"></span>If there is no text here added here, the insight placeholder will not be visible. </p>-->
                                        <!--</div>
                                            </div>
                                            <span *ngIf="obj.insightLastUpdated && obj.insightLastUpdated!='0001-01-01T00:00:00'" class="pull-left lgrey size12 marginT10">Insight Last Updated: {{obj.insightLastUpdated | date:'dd MMM yyyy'}}</span>
                                            <span *ngIf="!obj.insightLastUpdated || obj.insightLastUpdated == '0001-01-01T00:00:00'" class="pull-left lgrey size12 marginT10">Insight Last Updated: {{noInsightDate}}</span>
                                        </div>-->
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>