
<my-loader [loading]="loading"></my-loader>
<section class="paddingMob10">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 padding8LR">
                <h1 class="col-md-11 col-xs-12 padding0">Search results for: <span class="blue"  [hidden]="isUnifiedSearch"> {{searchResultFor}}</span></h1>
            </div>
        </div>
    </div>
</section>
<my-search-template [searchItems]="searchItems" [searchResultFor]="searchResultFor" [pageSize]="pageSize">
</my-search-template>